<section class="sign-in">
  <div class="container">
    <div class="signin-content">
      <div class="signin-image">
        <figure><%= image_tag "signin-image.jpg", alt: "sing up image" %></figure>
        <a href="/users/new" class="signup-image-link">Create an account</a>
      </div>
      <div class="signin-form">
        <h2 class="form-title">Sign in</h2>
        <%= flash[:danger] %>
        <%= form_with model: @user, url: login_path, class: "register-form", id: "login-form" do |form| %>
          <%= labeled_field form, 'email', "zmdi zmdi-email", "Your Email" %>
          <%= labeled_field form, 'password', "zmdi zmdi-lock", "Your Password" %>
          <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in">
          </div>
        <% end %>
        <div class="social-login">
          <span class="social-label">Or login with</span>
          <ul class="socials">
            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
