<tr>
  <td><%= sale.title %></td>
  <td>$<%= sale.starting_price %></td> 
  <td>$<%= sale.minimum_price %></td>
  <td><%= sale.start_time %></td>
  <td><%= sale.status.capitalize %></td>
  <td><%= link_to_if sale.pending?, 'Edit', edit_user_item_path(current_user, sale)  %></td>
</tr>