<section class="signup">
  <div class="container">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title"><%= title %></h2>
        <%= form_with model: user, class: "register-form", id: "register-form" do |form| %>
          <%= labeled_field form, 'name', "zmdi zmdi-account material-icons-name", "Your Name" %>
          <%= labeled_field form, 'email', "zmdi zmdi-email", "Your Email" %>
          <%= labeled_field form, 'password', "zmdi zmdi-lock", "Your Password" %>
          <%= labeled_field form, 'password_cofirmation', "zmdi zmdi-lock-outline", "Confirm Password" %>
         <div class="form-group form-button">
            <%= form.submit id: "signup", class: "form-submit", value: "Register" %>
          </div>
        <% end %>
      </div>
      <div class="signup-image">
        <figure><%= image_tag "signup-image.jpg", alt: "sing up image" %></figure>
        <a href="/login" class="signup-image-link">I am already member</a>
      </div>
    </div>
  <%= link_to 'Back', '/' %>
  </div>
</section>



<section class="sign-in">
  <div class="container">
    <div class="signin-content">
      
      <div class="signin-form">
        <h2 class="form-title">Sign in</h2>
        <%= flash[:danger] %>
        <%= form_with model: @user, url: login_path, class: "register-form", id: "login-form" do |form| %>
          <%= labeled_field form, 'email', "zmdi zmdi-email", "Your Email" %>
          <%= labeled_field form, 'password', "zmdi zmdi-lock", "Your Password" %>
          <div class="form-group form-button">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in">
          </div>
        <% end %>
        <div class="social-login">
          <span class="social-label">Or login with</span>
          <ul class="socials">
            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
            <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="signin-image">
        <figure><%= image_tag "signin-image.jpg", alt: "sing up image" %></figure>
        <a href="/users/new" class="signup-image-link">Create an account</a>
      </div>
    </div>
    <%= link_to 'Back', '/' %>
  </div>
</section>

