<div class='container'>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @current_user.name %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @current_user.email %>
  </p>
  <%= link_to 'Back', '/' %> |
  <%= link_to 'Edit', ['edit', @current_user] %>  <hr>
  Create new item <%= link_to 'here', new_user_item_path(@current_user) %> or <br>
  Manage your existing items  <%= link_to 'here', user_items_path(@current_user) %><hr>
  <%= button_to "Delete Youre Account", @current_user, method: :delete, controller: :users,
                                  data: { confirm: "You sure?" }, class:"btn btn-link" %>
</div>
